.container {
  display: grid;
  grid-template-rows: 60px 60px 70px 60px auto;
  grid-gap: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  vertical-align: middle;
}

.container__header {
  display: grid;
  background-color: none;
  align-content: center;
}

.container__1 {
  display: grid;
  background-color: rgb(254, 254, 254);
  padding: 20px;
  align-content: center;
}

.container__addTask {
  display: grid;
  background-color: rgb(254, 254, 254);
  padding: 20px;
  align-content: center;
  height: 60px;
}

.container__tasks {
  display: grid;
  background-color: rgb(254, 254, 254);
  padding: 20px;
  align-content: center;
}
