.form__field {
  border: 2px solid #ccc;
  padding: 10px;
  height: 30px;
  width: 70%;
}

.form_button {
  height: 30px;
  width: 20%;
  background-color: teal;
  color: white;
  align-items: right;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 540;
  padding-inline: 10px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
}

@media (max-width: 1103px) {
  .form__field {
    width: 100%;
    align: center;
    margin: 0;
    wrap: wrap;
  }
  .form_button {
    width: 100%;
    align: center;
    margin: auto;
    wrap: wrap;
  }
}
